.main{
    background-image: 
        linear-gradient(to right, rgba(0, 14, 83, 0.847), rgba(210, 211, 251, 0.794));
    background-size: cover; /* Ensures the background image covers the entire element */
    background-position: center; /* Centers the background image */
    background-repeat: no-repeat; /* Prevents background image repetition */
}